{{ define "main" }}

<div class="breadcumb-area bg-img bg-overlay2" style="background-image:url({{ .Site.BaseURL }}img/bg-img/contact.jpg);">
    <div class="bradcumbContent">
        <h2>{{ .Title }}</h2>
    </div>
</div>

<div class="row">

    <div class="col-12">
        
<!--        <div class="about-us-area section-padding-100-0 bg-img bg-overlay" style="background-image: url({{ .Site.BaseURL }}img/bg-img/contact.jpg)" id="contact"> -->
        
            <div class="container">

<!--
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>{{ .Title | markdownify }}</h2>
                            {{ if .Params.Subtitle }}
                            <h6>{{ .Params.Subtitle | markdownify }}</h6>
                            {{ end }}
                        </div>
                    </div>
                </div>
-->

                <!-- ##### Contact Area Start ##### -->
                <section class="contact-area mt-30 section-padding-100-0">
                    <div class="container">


                        <div class="row">
                            <!-- About Thumbnail -->
                            <div class="col-12 col-lg-6">
                                <div class="about-thumbnail mb-100" align="center">
                                    <img style="max-height:300px" src="{{ .Site.BaseURL }}{{ .Params.Image }}" alt="">
                                </div>
                            </div>
                            <!-- About Content -->
                            <div class="col-12 col-lg-6">
                                    <div class="contact-content mb-100">                                    
                                    
                                            {{ .Content }}

                                            <style>
                                                h6 {
                                                    color: grey; 
                                                }
                                            </style>
                                                    
                                            <!-- Single Contact Info -->
                                            <div class="single-contact-info d-flex align-items-center">
                                                <div class="icon">
                                                    <img src="{{ .Site.BaseURL }}img/core-img/microphone.png" alt="">
                                                </div>
                                                <h6>{{ .Site.Params.contact.name }}</h6>
                                            </div>
        
                                            <!-- Single Contact Info -->
                                            <div class="single-contact-info d-flex align-items-center">
                                                <div class="icon">
                                                    <img src="{{ .Site.BaseURL }}img/core-img/placeholder.png" alt="">
                                                </div>
                                                <h6>{{ .Site.Params.contact.address }}</h6>
                                            </div>
        
                                            <!-- Single Contact Info -->
                                            <div class="single-contact-info d-flex align-items-center">
                                                <div class="icon">
                                                    <img src="{{ .Site.BaseURL }}img/core-img/smartphone.png" alt="">
                                                </div>
                                                <h6>{{ .Site.Params.contact.phone }}</h6>
                                            </div>
        
                                            <!-- Single Contact Info -->
                                            <div class="single-contact-info d-flex align-items-center">
                                                <div class="icon">
                                                    <img src="{{ .Site.BaseURL }}img/core-img/message.png" alt="">
                                                </div>
                                                <h6>{{ .Site.Params.contact.email }}</h6>
                                            </div>
                                        </div>
                                    </div>
        
                            </div>
                        </div>
                        
                    </div>
                </section>
                <!-- ##### Contact Area End ##### -->
               
            </div>

<!--        </div> -->
    </div>
</div>
{{ end }}