{{ define "main" }}

{{ if .Params.Backgroundimage }}
<div class="breadcumb-area bg-img bg-overlay2" style="background-image:url({{ .Site.BaseURL }}{{ .Params.Backgroundimage }})">
{{ else }}
<div class="breadcumb-area bg-img bg-overlay2" style="background-image:url({{ .Site.BaseURL }}img/bg-img/contact.jpg)">
{{ end }}
    {{ if .Params.Color }}
    <div class="bradcumbContent" style="background:{{ .Params.Color }}">
    {{ else }}
    <div class="bradcumbContent" style="background:#3DA9E0">
    {{ end }}
        <h2>{{ .Title }}</h2>
    </div>
</div>

<section class="default-content-area mt-30 section-padding-100-0">
        <div class="container">                   

        <div class="row">
     
            <div class="col-12">
                <div class="default-content mb-100">

                    {{ .Content | markdownify }}

                </div>
            </div>

        </div>
    </div>
</section>

{{ end }}