{{ define "main" }}

<div class="breadcumb-area bg-img bg-overlay2" style="background-image:url({{ .Site.BaseURL }}img/bg-img/contact.jpg);">
    <div class="bradcumbContent">
        <h2>{{ .Title }}</h2>
    </div>
</div>

<div class="row">

    <div class="col-12">

        <div class="upcoming-shows-area section-padding-100">
            <div class="container">

                <div class="row">
                    <div class="col-12">

                        <div class="upcoming-shows-content">

                            {{ range .Pages }}
                            {{ .Render "summary"}}
                            {{ end }}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{ end }}