{{ define "main" }}

<!-- Events -->
<div class="events-area section-padding-150">

    <div class="container">

        <div class="row">
                <div class="col-12 col-lg-2">
                {{ if .Params.Image }}
                <img style="max-height:200px" src="{{ .Site.BaseURL }}events/{{ .Params.Image }}">                    
                {{ end }}
            </div>
            <div class="col-12 col-lg-10">

                <h2>{{ .Params.Title }}</h2>
    
                {{ if .Params.Subtitle }}                    
                <h4>{{ .Params.Subtitle }}</h4>                          
                {{ end }}                

                <h6>{{ .Date.Format "Mon, 02 Jan 2006" }} um {{ .Date.Format "15:04" }} Uhr</h6>
                <h6>{{ .Params.Location }}</h6>

            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="events-content mt-50 mb-50">                       
                    {{ .Content | markdownify }}            
                </div>
            </div>
        </div>

        {{ if .Params.Address }} 
        <br>                  
        <h6>{{ .Params.Address }}</h6>        
        <div class="row">
            <div class="col-12">
                <div id="map" style="width:400px;height:400px;"></div>
            </div>
        </div>      
        {{ end }}
        
    </div>
</div>

{{ if .Params.Address }}      
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4qhvREqZgpE-7yItHleDVm4fevX6dvPc&sensor=true"></script>
<script>
    function myMap() {
        var pos = {lat: {{ .Params.Latitude }}, lng: {{ .Params.Longitude }} };
        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false,
            panControl: false,
            styles: [
					  {
							featureType: "road.local",
							stylers: [
								 {visibility: "on"}
							]
					  },
					  {
							featureType: "poi",
							stylers: [
								 {visibility: "off"}
							]
					  },                        
					  {
							featureType: "poi.park",
							stylers: [
								 {visibility: "on"}
							]
					  }
				 ],
            zoom: {{ .Params.Zoom }},
            center: pos
        });
        var marker = new google.maps.Marker({
            position: pos,
            map: map
        });
    }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4qhvREqZgpE-7yItHleDVm4fevX6dvPc&callback=myMap"></script>
{{ end }}

{{ end }}