<div class="single-upcoming-shows d-flex align-items-center flex-wrap">

    <div class="shows-date">
        <h2>{{ .Date.Format "2" }} <span>{{ .Date.Format "Jan" }}</span></h2>
    </div>

    <div class="shows-desc d-flex align-items-center">
    
        <div class="shows-img">            
            <img src="{{ .Params.Image }}" alt="">
        </div>
    
        <div class="shows-name">
            <h6>{{ .Params.Title }}</h6>
            <p>{{ .Params.Subtitle }}</p>
        </div>
    </div>

    <div class="shows-location">
        <p>{{ .Params.Location }}</p>
    </div>

    <div class="shows-time">
        <p>{{ .Date.Format "15:04" }}</p>
    </div>

    <div class="buy-tickets">
        <a href='{{ .RelPermalink }}' class="btn musica-btn">mehr...</a>
    </div>
</div>