

{{ define "main"}}

<div class="about-us-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(img/bg-img/Chorschule-Kinder2.jpg);" id="about">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>404 page not found</h2>                   
                    <h6>Tut uns schrecklich leid, aber die Seite ist irgendwie...weg.</h6>
                </div>
            </div>
        </div>

        <div class="row">                            
            <div class="about-thumbnail mb-100" >
                <a href="{{ "/" | relURL}}">
                    <img class="rounded-circle" src="../img/core-img/404-3.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="{{ .Site.BaseURL }}js/jquery/jquery-2.2.4.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/plugins/plugins.js"></script>
<script src="{{ .Site.BaseURL }}js/active.js"></script>

{{ end }}