{{ define "main" }}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/bg-kinderchor.jpg);"></div>                        
            <!-- Slide Content -->
            <div class="hero-slides-content text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">VOX BREMA<span>VOX BREMA</span></h2>
                <p data-animation="fadeInUp" data-delay="300ms">Chorschule für Kinder</p>
            </div>
            <!-- Big Text -->
            <h2 class="big-text">VOX BREMA</h2>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/bg-ausbildungschor.jpg);"></div>
            <!-- Slide Content -->
            <div class="hero-slides-content text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">VOX BREMA<span>VOX BREMA</span></h2>
                <p data-animation="fadeInUp" data-delay="300ms">Ausbildungschor</p>
            </div>
            <!-- Big Text -->
            <h2 class="big-text">VOX BREMA</h2>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(img/bg-img/bg-projektchor.jpg);"></div>
            <!-- Slide Content -->
            <div class="hero-slides-content text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">VOX BREMA<span>VOX BREMA</span></h2>
                <p data-animation="fadeInUp" data-delay="300ms">Projektchor</p>
            </div>
            <!-- Big Text -->
            <h2 class="big-text">VOX BREMA</h2>
        </div>

    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>

    <!-- Slide Down -->
    <div class="slide-down" id="scrollDown">
        <h6>Slide Down</h6>
        <div class="line"></div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<div class="about-us-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(img/bg-img/home-2.jpg);" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Hallo</h2>                   
                    <h6>und herzlich Willkommen bei Vox Brema</h6>
                </div>
            </div>
        </div>

        <div class="row">
            
            <div class="col-12 col-lg-3">
                <div class="about-thumbnail mb-50">
                    <img style="max-height:200px" src="img/bg-img/kamila-welcome.jpg" alt="">
                </div>
            </div>
            
            <div class="col-12 col-lg-9">
                <div class="about-content mb-100">                    
                    <p>
                        Ich möchte Euch recht herzlich begrüßen. Wie Ihr seht, ist die Internet Seite von Vox Brema noch nicht ganz fertig. 
                        Trotzdem seid Ihr eingeladen, Euch bei uns umzuschauhen.
                    </p>
                    <p>
                        <i>Kamila Dunajska</i>
                    </p>
                    <!-- <img src="img/core-img/signature.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### About Us Area End ##### -->

<!-- ##### Events Start ##### -->
{{ with .Site.GetPage "section" "/events"}}
    {{ $events := where .Pages ".Date.Unix" "ge" now.Unix }}   <!-- /* start with 'hugo server --buildFuture' bzw -F -->
    {{ if gt (len $events) 0  }}

        <div class="upcoming-shows-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">          
                            <h6>{{ .Params.Subtitle}}</h6>
                        </div>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-12">
                        <div class="upcoming-shows-content">
                            {{ range first 3 (where .Pages ".Date.Unix" "ge" now.Unix).ByDate.Reverse }}
                                {{ .Render "li"}}                   
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>        
        </div>

    {{ end }}
{{ end }} 
<!-- ##### Events End ##### -->

{{ end }}