<!-- ##### Footer Area Start ##### -->
<footer class="footer-area section-padding-100-0">
    <div class="container-fluid">

        <div class="row">

            <div class="col">
                <div class="footer-widget-area mb-100">
                    <div class="widget-title">
                        <h4>Legal</h4>
                    </div>
                    <nav>
                        <ul class="footer-nav">
                            {{ range .Site.Menus.footer1 }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col">
                <div class="footer-widget-area mb-100">
                    <div class="widget-title">
                        <h4>Gruppen</h4>
                    </div>
                    <nav>
                        <ul class="footer-nav">
                            {{ range .Site.Menus.footer2 }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>

            <!--
            <div class="col">
                <div class="footer-widget-area mb-100">
                    <div class="widget-title">
                        <h4>Social</h4>
                    </div>
                    <nav>
                        <ul class="footer-nav">
                            <li><a href="{{ .Site.Params.contact.facebook }}">Facebook</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            -->
        </div>

        <div class="row">

            <!-- Footer Widget Area -->
            <div class="col">
                <div class="footer-widget-area mb-50">
                    <p class="copywrite-text"><a href="#">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- ##### All Javascript Script ##### -->
<script src="{{ .Site.BaseURL }}js/jquery/jquery-2.2.4.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/plugins/plugins.js"></script>
<script src="{{ .Site.BaseURL }}js/active.js"></script>