<!-- ##### Preloader ##### -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="circle-preloader">
        <img src="{{ .Site.BaseURL }}img/core-img/compact-disc.png" alt="">
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="musica-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container-fluid">

                <!-- Menu justify-content-between-->
                <nav class="classy-navbar" id="musicaNav">

                    <!-- Nav brand -->                    
                    <div class="container">
                        <a href="{{ "/" | relURL}}" class="navbar-left">
                            <img style="max-height:160px; margin-top:-10px;"
                                src="{{ .Site.BaseURL }}img/core-img/logo.png">
                        </a>                        
                    </div>                    

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->                    
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                {{ $currentPage := . }}
                                {{ range .Site.Menus.main }}

                                {{ if .HasChildren }}

                                <li class="navbar-item">
                                    <a href="#">{{ .Name }}</a>

                                    <ul class="dropdown">
                                        {{ range .Children }}

                                        <li
                                            class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                                            <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                                        </li>

                                        {{ end }}
                                    </ul>

                                </li>

                                {{ else }}

                                <li
                                    class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{end}}">
                                    <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                                </li>

                                {{ end }}

                                {{ end }}

                                <!-- Social Button -->
                                <li><a href="{{ .Site.Params.contact.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="{{ .Site.Params.contact.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>

                            <!-- Nav End -->
                        </div>                    
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- ##### Header Area End ##### -->