<head>

  <!-- The following 4 meta tags *must* come first in the head -->
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ if and (eq .Kind "taxonomy") (eq .Type "categories")}}
    <meta name="robots" content="noindex, follow"/>
  {{ else }}
    <meta name="robots" content="index, follow"/>
  {{ end }}

  {{ if or (eq .Kind "home") (eq .Kind "page")}}
    {{ if isset .Params "canonical" }}
      <link rel="canonical" href="{{ .Params.Canonical}}" />
    {{ else }}
      <link rel="canonical" href="{{ .Permalink}}" />
    {{ end }}
  {{ end }}

  <meta name="description" content="{{ with .Description }}
  {{ . }}
  {{ else }}
    {{if .IsPage}}
      {{ .Summary }}
    {{ else }}
      {{ with .Site.Params.Description }}
      {{ . }}
    {{ end }}
  {{ end }}{{ end }}">

  <!-- Title -->
  <title>
  {{ .Title | default .Site.Title }}
  {{ if not .IsHome }} - {{ .Site.Params.Shorttitle }}{{ end }}
  </title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}style.css">

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

</head>

